<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
    <title>Recuperar Contraseña</title>
</head>
<body>
    {% block content %}
    {% csrf_token %}
<!-- Container del navbar del menu -->
        <div class="container-fluid fondo2">
        <br>
            <div class="row align-items-center fondo2">
                <div class="col-md-3 col-xs-12 bordes0">
                    <a href="../"><img class="" src="{% static 'img/page/logo.png' %}" alt="misperris_logo"></a>
                </div>
                <div class="col-md-2 col-xs-12 bordes">
                    <a class="nav-link text" href="#">¿Quienes Somos? </a>
                </div>
                <div class="col-md-2 col-xs-12 bordes">
                    <a class="nav-link text" href="#Servicios">Servicios </a>
                </div>
                <div class="col-md-2 col-xs-12 bordes">
                    <a class="nav-link text" href="#Contacto">Contactanos</a>
                </div>
                <div class="col-md-2 col-xs-12 bordes">
                    <a class="nav-link text" href="/registro/">Registrar</a>
                </div>
                <div class="col-md-1 col-xs-12 bordes">
                </div>
            </div>
        <br>
        </div>
<br><br><br>
<div class="PasswordResetForm">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <p>Ingrese su correo electrónico y le enviarémos las instrucciones para recuperar su contraseña.</p>

        <form method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="form-group">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

        {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                <div class="helpText">{{ field.help_text|safe }}</div>
            </div>
        {% endfor %}
            <button type="submit" class="btn btn-success">Recuperar contraseña</button>
        </form>
      </div>
    </div>
</div>
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery.validate.js' %}"></script>
<script src="{% static 'js/lightbox.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% endblock %}   
</body>
</html>
