<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
    <title>Formulario Editar Perro</title>
</head>
<body>
    {% csrf_token %}
<!-- Container del navbar del menu -->
        <div class="container-fluid fondo2">
        <br>
            <div class="row align-items-center fondo2">
                <div class="col-md-3 col-xs-12 bordes0">
                    <a href="../../"><img class="" src="{% static 'img/page/logo.png' %}" alt="misperris_logo"></a>
                </div>
                <div class="col-md-2 col-xs-12 bordes">
                    <a class="nav-link text" href="#">¿Quienes Somos? </a>
                </div>
                <div class="col-md-2 col-xs-12 bordes">
                    <a class="nav-link text" href="../../#Servicios">Servicios </a>
                </div>
                <div class="col-md-2 col-xs-12 bordes">
                    <a class="nav-link text" href="../../#Contacto">Contactanos</a>
                </div>
                <div class="col-md-2 col-xs-12 bordes">
                    {% if user.is_authenticated %}
                    <a class="nav-link text" href="/registro/editarPersona/{{e.id}}">Editar usuario</a>
                    {% else %}
                    <a class="nav-link text" href="/registro/">Registrar</a>
                    {% endif %}
                </div>
                <div class="col-md-1 col-xs-12 bordes">
                    {% if user.is_authenticated %}
                        <li class="nav-item text">Bienvenido {{usuario}} <a href="{% url "cerrar_session" %}" class="text">Cerrar Sesión</a> </li>
                    {% else %}
                        <a class="nav-item text"><a href="{% url "login"%}" class="text">Ingresar</a></a>
                    {% endif %}
                </div>
            </div>
        <br>
        </div>
    <h2>Edicion del perro: {{perro.nombrePerro}}</h2>
<div class="container">
    <form action="/registro/editadoPerro/{{perro.id}}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="foto">Foto Perrito</label>
                    <input type="file" name="foto" required id="foto" class="form-control" accept="image/x-png,image/jpeg" >
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="nombrePerro">Nombre</label>
                    <input type="text" name="nombrePerro" required id="nombrePerro" class="form-control" placeholder="Ingrese el Nombre del perrito">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="raza">Raza Predominante</label>
                    <input type="text" name="raza" id="raza" class="form-control" required placeholder="Ingrese la raza del perrito">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <input type="text" name="descripcion " required id="descripcion" class="form-control" placeholder="Ingrese una descripcion para el perrito">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <select name="estado" required id="estado" class="form-control">
                        <option hidden>Seleccione</option>
                        <option value="op1">Rescatado</option>
                        <option value="op2">Disponible</option>
                        <option value="op3">Adoptado</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="reset" class="btn btn-danger btn-block" value="Limpiar">
            </div>
            <div class="col-md-6">
                <input type="submit" class="btn btn-outline-success btn-block" value="Ingresar perrito">
            </div>
        </div>
    </form>
</div>
<br> <br>
<div class="container">
          <h2>Perros</h2>
          <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre Perro</th>
                    <th scope="col">Raza</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Foto</th>
                    {% if user.is_authenticated %}
                    <th>Acciones</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                    {% for per in Perro %}
                        <tr>
                            <th scope="row">{{per.id}}</th>
                            <th>{{per.nombrePerro}}</td>
                            <th>{{per.raza}}</td>
                            <th>{{per.descripcion}}</td>
                            <th>{{per.estado}}</td>
                            {% if user.is_authenticated %}
                            <th><img src="/registro/imagenes{{per.foto}}" alt="no foto" height="50" srcset=""></td>
                            <th> <a href=''>Borrar</a>
                                <a href="#" > Editar</a> </td>
                            {% endif %}
                        </tr>
                    {% endfor %}                  
                </tbody>
              </table>
      </div>

</form>

</div>
</form>
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery.validate.js' %}"></script>
<script src="{% static 'js/lightbox.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>