<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
    <title>Formulario Editar Persona</title>
</head>
<body>
    {% csrf_token %}
<!-- Container del navbar del menu -->
        <div class="container-fluid fondo2">
        <br>
            <div class="row align-items-center fondo2">
                <div class="col-md-3 col-xs-12 bordes0">
                    <a href="../../"><img class="" src="{% static 'img/page/logo.png' %}" alt="misperris_logo"></a>
                </div>
                <div class="col-md-2 col-xs-12 bordes">
                    <a class="nav-link text" href="#">¿Quienes Somos? </a>
                </div>
                <div class="col-md-2 col-xs-12 bordes">
                    <a class="nav-link text" href="../../#Servicios">Servicios </a>
                </div>
                <div class="col-md-2 col-xs-12 bordes">
                    <a class="nav-link text" href="../../#Contacto">Contactanos</a>
                </div>
                <div class="col-md-2 col-xs-12 bordes">
                    {% if user.is_authenticated %}
                    <a class="nav-link text" href="/registro/editarPersona/{{e.id}}">Editar usuario</a>
                    {% else %}
                    <a class="nav-link text" href="/registro/">Registrar</a>
                    {% endif %}
                </div>
                <div class="col-md-1 col-xs-12 bordes">
                    {% if user.is_authenticated %}
                        <li class="nav-item text">Bienvenido {{usuario}} <a href="{% url "cerrar_session" %}" class="text">Cerrar Sesión</a> </li>
                    {% else %}
                        <a class="nav-item text"><a href="{% url "login"%}" class="text">Ingresar</a></a>
                    {% endif %}
                </div>
            </div>
        <br>
        </div>
    <h2>Edicion de la persona: {{persona.nombrePersona}}</h2>
<form action="/registro/editadoPersona/{{persona.id}}" method="post">
    {% csrf_token %}
<div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="correo">Correo</label>
                    <input type="email" name="correo" required id="correo" class="form-control" placeholder="Ingrese su Correo">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="contrasenia">Contraseña</label>
                    <input type="password" name="contrasenia" id="contrasenia" required class="form-control" placeholder="Ingrese su Contraseña">
                    <label for="contrasenia"></label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="run">Run</label>
                    <input type="text" name="run" id="run" required class="form-control" placeholder="Ingrese su Run">
                    <label for="run"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="nombrePersona">Nombre</label>
                    <input type="text" name="nombrePersona" id="nombrePersona" required class="form-control" placeholder="Ingrese su Nombre">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="fnacimiento">Fecha de Nacimiento</label>
                    <input type="date" name="fnacimiento" required id="fnacimiento" class="form-control" max="2000-12-31">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input type="number" name="telefono" id="telefono" required class="form-control" placeholder="Ingrese su Numero de telefono">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="region">Región</label>
                    <select name="region" id="region" class="form-control" required>
                       <option hidden>Seleccione</option> 
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="comuna">Comuna</label>
                    <select name="comuna" id="comuna" class="form-control" required>
                        <option hidden>Seleccione</option> 
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="vivienda">Vivienda</label>
                    <select name="vivienda" id="vivienda" class="form-control" required>
                        <option hidden>Seleccione</option>
                        <option value="op1">Casa con patio grande</option>
                        <option value="op2">Casa con patio pequeño</option>
                        <option value="op3">Casa sin patio</option>
                        <option value="op4">Departamento</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="reset" class="btn btn-danger btn-block" value="Limpiar">
            </div>
            <div class="col-md-6">
                <input type="submit" class="btn btn-outline-success btn-block" value="Guardar">
            </div>
        </div>
</div>
<script src="{% static 'js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery.validate.js' %}"></script>
<script src="{% static 'js/lightbox.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>
