<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
    <title>Mis perris</title>
</head>
<body>
    {% csrf_token %}
<!-- Container del navbar del menu -->
        <div class="container-fluid fondo2">
        <br>
            <div class="row align-items-center fondo2">
                <div class="col-md-3 col-xs-12 bordes0">
                    <a href="../"><img class="" src="{% static 'img/page/logo.png' %}" alt="misperris_logo"></a>
                </div>
                <div class="col-md-2 col-xs-12 bordes">
                    <a class="nav-link text" href="#">¿Quienes Somos? </a>
                </div>
                <div class="col-md-2 col-xs-12 bordes">
                    <a class="nav-link text" href="#Servicios">Servicios </a>
                </div>
                <div class="col-md-2 col-xs-12 bordes">
                    <a class="nav-link text" href="#Contacto">Contactanos</a>
                </div>
                <div class="col-md-2 col-xs-12 bordes">
                    {% if user.is_authenticated %}
                    <a class="nav-link text" href="/registro/editarPersona/{{e.id}}">Editar usuario</a>
                    {% else %}
                    <a class="nav-link text" href="/registro/">Registrar</a>
                    {% endif %}
                </div>
                <div class="col-md-1 col-xs-12 bordes">
                    {% if user.is_authenticated %}
                        <li class="nav-item text">Bienvenido {{usuario}} <a href="{% url "cerrar_session" %}" class="text">Cerrar Sesión</a> </li>
                    {% else %}
                        <a class="nav-item text"><a href="{% url "login"%}" class="text">Ingresar</a></a>
                    {% endif %}
                </div>
            </div>
        <br>
        </div>
<!-- Div class que contiene el carrosel de fotos de los perros adoptados -->
    <div id="carouselExampleControls" class="carousel slide fondo2" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img class="d-block w-100 alto-maximo alto-minimo" src="{% static 'img/imagenes/adoptados/Apolo.jpg' %}" alt="First slide">
                <div class="carousel-caption d-none d-md-block d-xs fondo3">
                    <h5 class="text2">Apolo</h5>
                    <p class="text2">"Le encanta salir de viaje"</p>
                </div>
            </div>
            <div class="carousel-item">
            <img class="d-block w-100 alto-maximo alto-minimo" src="{% static 'img/imagenes/adoptados/Duque.jpg'%}" alt="Second slide">
                <div class="carousel-caption d-none d-md-block d-xs fondo3">
                    <h5 class="text2">Duque</h5>
                    <p class="text2">"Duque es muy activo, sale conmigo a todos lados"</p>
                </div>
            </div>
            <div class="carousel-item">
            <img class="d-block w-100 alto-maximo alto-minimo" src="{% static 'img/imagenes/adoptados/Tom.jpg' %}" alt="Third slide">
                <div class="carousel-caption d-none d-md-block d-xs fondo3">
                    <h5 class="text2">Tom</h5>
                    <p class="text2">"Tom no se separa de mi hija, es muy cariñoso"</p>
                </div>
            </div>
        </div>
<!-- Controles para volver o continuar la foto siguiente del carrosel -->
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
<!-- Div class que contiene las iconos de redes sociales de mis perris -->
    <div class="container-fluid fondo iconografia " id="Contacto">
<!-- Este de aqui funciona en todo tamaño, menos en tamaño xs ARREGLAR!!! -->
        <div class="row" >
                <div class="hidden-xs col-md-4">
                    <p class="text-center text"><b>+ 56 9 98765431</b></p>
                </div>
                <div class="hidden-xs col-md-4">
                    <p class="text-center text"><b>Rescate y adopcion de perros callejeros.</b></p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <p class="text-center text"> 
                        <a class="iconos text fab fa-facebook-square fa-2x" href="https://www.facebook.com"></a>
                        <a class="iconos text fab fa-google-plus-square fa-2x" href="https://plus.google.com/discover?hl=es"></a>
                        <a class="iconos text fab fa-instagram fa-2x" href="https://instagram.com"></a>
                        <a class="iconos text fa fa-envelope fa-2x" href="https://hotmail.com"></a>
                    </p>
                </div>
        </div>
    </div>
    <br><br>
<!-- Container el cual presenta informacion sobre mis perris -->
    <div class="container" id="Servicios">
        <div class="row">
            <div class="col-md-12 col-xs-12 align-self-start">
                <h2 class="textalign">RESCATE</h2>
                <h5 class="text3 textalign">Etapa uno</h5>
                <p class="text4 textalign">Rescatamos perros en situaciones de peligro y/o abandono. Los rehabilitamos y los preparamos para buscarles un hogar.</p>
                <img src="{% static 'img/page/rescate.jpg' %}" alt="Rescate" class="float">
            </div>
            <br><br>
            <div class="col-md-12 col-xs-12 align-self-end">
                <img class="crownfundingheight" src="{% static 'img/page/crowfunding.jpg' %}"  alt="crowfunding">
                <h2>CROWDFUNDING</h2>
                <h5 class="text3">Financiamiento</h5>
                <p class="text4">Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades que realizamos para obtener financiamiento para seguir ayudando.</p>
            </div>
        </div>
    </div>
    <br><br>
<!-- Conteiner en el cual se presentara el registro de un perrito -->
{% if user.is_authenticated %}
<button class="accordion text-center"><b>Registro de Perritos</b></button>
    <div class="container panel">
        <form action="/registro/crearPerro" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="foto">Foto Perrito</label>
                        <input type="file" name="foto" required id="foto" class="form-control" accept="image/x-png,image/jpeg" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="nombrePerro">Nombre</label>
                        <input type="text" name="nombrePerro" required id="nombrePerro" class="form-control" placeholder="Ingrese el Nombre del perrito">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="raza">Raza Predominante</label>
                        <input type="text" name="raza" id="raza" class="form-control" required placeholder="Ingrese la raza del perrito">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <input type="text" name="descripcion " required id="descripcion" class="form-control" placeholder="Ingrese una descripcion para el perrito">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="estado">Estado</label>
                        <select name="estado" required id="estado" class="form-control">
                            <option hidden>Seleccione</option>
                            <option value="op1">Rescatado</option>
                            <option value="op2">Disponible</option>
                            <option value="op3">Adoptado</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input type="button" class="btn btn-warning btn-block" href="/registro/editarPerro/{{e.id}}" value="Editar Perrito">
                </div>
                <div class="col-md-4">
                    <input type="reset" class="btn btn-danger btn-block" value="Limpiar">
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-outline-success btn-block" value="Ingresar perrito">
                </div>
            </div>
        </form>
    </div>
    
{% endif %}
    <br>
<!-- Container que contiene la galeria de fotos de los perritos rescatados por mis perris -->
    <div class="container-fluid fondo2">
    <br>
        <div class="row align-items-center">
                <article class="col-md-3">
                    <a href="{% static 'img/imagenes/rescatados/Bigotes.jpg' %}" data-lightbox="example-set" data-title="Le encanta tener un peluche">
                    <img src="{% static 'img/imagenes/rescatados/Bigotes_tn.jpg' %}" alt="Bigotes" class="img-thumbnail"></a>
                    <h6>Bigotes</h6>
                </article>
                <article class="col-md-3">
                    <a href="{% static 'img/imagenes/rescatados/Chocolate.jpg' %}" data-lightbox="example-set" data-title="Le encanta estar acompañado">
                    <img src="{% static 'img/imagenes/rescatados/Chocolate_tn.jpg' %}" alt="Chocolate" class="img-thumbnail"></a>
                    <h6>Chocolate</h6>
                </article>
                <article class="col-md-3">
                    <a href="{% static 'img/imagenes/rescatados/Luna.jpg' %}" data-lightbox="example-set" data-title="Una perrita muy juguetona">
                    <img src="{% static 'img/imagenes/rescatados/Luna_tn.jpg' %}" alt="Luna" class="img-thumbnail"></a>
                    <h6>Luna</h6>
                </article>
                <article class="col-md-3">
                    <a href="{% static 'img/imagenes/rescatados/Maya.jpg' %}" data-lightbox="example-set" data-title="Es timida, pero cuando entra en confianza es cariñosa">
                    <img src="{% static 'img/imagenes/rescatados/Maya_tn.jpg' %}" alt="Maya" class="img-thumbnail"></a>
                    <h6>Maya</h6>
                </article>
    
        </div> 
        <div class="row align-items-center">
            <article class="col-md-3">
                <a href="{% static 'img/imagenes/rescatados/Oso.jpg' %}" data-lightbox="example-set" data-title="Es un perrito muy suave y le encanta seguir a su acompañante">
                <img src="{% static 'img/imagenes/rescatados/Oso_tn.jpg' %}" alt="Oso" class="img-thumbnail"></a>
                <h6>Oso</h6>
            </article>
            <article class="col-md-3">
                <a href="{% static 'img/imagenes/rescatados/Pexel.jpg' %}" data-lightbox="example-set" data-title="Pequeñito y jugueton">
                <img src="{% static 'img/imagenes/rescatados/Pexel_tn.jpg' %}" alt="Pexel" class="img-thumbnail"></a>
                <h6>Pexel</h6>
            </article>
            <article class="col-md-3">
                <a href="{% static 'img/imagenes/rescatados/Wifi.jpg' %}" data-lightbox="example-set" data-title="Es un perrito muy activo">
                <img src="{% static 'img/imagenes/rescatados/Wifi_tn.jpg' %}" alt="Wifi" class="img-thumbnail"></a>
                <h6>Wifi</h6>
            </article>
        </div>
    <br>
    </div>

<br>
<!-- Footer de mis perris -->
<footer class="fondo" >
    <br>
        <p>Desarrollo de Aplicaciones Web y Mobiles</p>
    <br>
</footer>
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/lightbox.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>